.box_game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    padding: 12px;
    border-radius: 12px;
    background-color: #F2C12E;
    border: 1px solid black;
    cursor: pointer;
}

.img_game{
    border-radius: 12px;
}
.title_game{
    
    grid-area: 1/1/1/5;
}
/* btns */
.btn{
    padding: 10px;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

.title_game{
    color: white;
    background-color:#F28705 ;
    border-radius: 12px;
    padding: 10px;
}