.box_game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 12px;
    background-color: beige;
    border: 1px solid black;
}
.img_game{
    border-radius: 12px;
}